#border {
  border-left: 2px solid #dcd7cb;
  border-right: 2px solid #dcd7cb;
  border-top: 1px solid #dcd7cb;
  border-bottom: 1px solid #dcd7cb;
}
#borderTop {
  height: 50px;
  border-left: 2px solid #dcd7cb;
  border-right: 2px solid #dcd7cb;
  border-top: 1px solid #f7f1ec;
  border-bottom: 1px solid #dcd7cb;
}

#borderBottom {
  height: 50px;
  border-left: 2px solid #dcd7cb;
  border-right: 2px solid #dcd7cb;
  border-top: 1px solid #dcd7cb;
  border-bottom: 1px solid #f7f1ec;
}

.App {
  color: #6e6c4d;
}

h1 {
  font-size: 3rem;
}
p {
  font-size: 1.1rem;
  font-family: Calibri;
}

.leftTitle {
  padding-top: 20%;
  padding-right: 50px !important;
}

.rightTitle {
  background: linear-gradient(90deg, #f7f1ec 0%, #f7f1ec 25%, #c0bfa8 25%, #c0bfa8 100%);
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftCatalogTitle {
  padding: 0 !important;
}

.rightCatalogTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  font-size: 1.1rem;
  font-family: Calibri;
  hyphens: auto;
}

.rightShowCaseTitle {
  padding: 0 !important;
}

.leftShowCaseTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftAbout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.rightAbout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-family: Calibri;
}

.aboutButton {
  border-radius: 0 !important;
  border-color: #6e6c4d !important;
  color: #6e6c4d !important;
}

.aboutButton:hover {
  background-color: #6e6c4d !important;
  color: white !important;
}